html, body{
  background-image: url(login_background.jpg);
}

.pageContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

button {
  background-color: #6c5ce7;
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 20px;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

.wrapper{
  width: 390px;
  min-height: 50vh;
  background: #00cec9;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: rgba(33, 33, 33, 0.2) 0px 0px 11px;
}

input{
  font-family: 'Balsamiq Sans', cursive;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: #2f3640;
  padding: 5px 0;
  background: transparent;
}

.username.error{
  border-bottom: 2px solid red;
}

.password.error{
  border-bottom: 2px solid red;
}