@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oxygen&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&family=Ubuntu:wght@500&display=swap');

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(to right, #81ecec, #5f2c82);
}

.answerContainer{
	border-radius: 15px;
	outline: none;
	background: cadetblue;
	padding: 15px;
	margin: 10px
}

.answerContainer div{
	margin: 5px;
}

.pageContainer{
	margin: 15px;
}

input {
	padding: 2px 5px;
	margin: 5px 3px;
	box-sizing: border-box;
	border: 1.5px solid;
	border-radius: 4px;
}

input:focus{
	border-color: tomato;
}

p{
	text-align: left;
	font-family: 'Nunito', sans-serif;
	text-decoration-line: underline;
	color: darkblue;
}

.givenTimeWrapper{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}

label[for = "timeAllowed"]{
	font-family: 'Oxygen', sans-serif;
	border: 3px double burlywood;
	border-radius: 15px;
	padding: 7px;
	background: wheat;
}

label[for = "TypeSelector"]{
	font-family: 'Ubuntu', sans-serif;
}

.deleteAnswer, .addAnswer{
	color: #8e44ad!important;
	text-transform: uppercase;
	background: #ecf0f1;
	border: 3px solid #8e44ad !important;
	padding: 3px;
	border-radius: 3px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.addAnswer:hover,.deleteAnswer:hover{
	color: #494949 !important;
	border-radius: 30px;
	border-color: #494949 !important;
	transition: all 0.3s ease 0s;
}

.submit{
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #2d3436;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	margin-top: 10px;
}

.questionAdder{
	margin-top: 10px;
}

hr{
	border: 1px solid #636e72;
}

.submit:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.questionCreator{
	border: none;
	background: #1B1464;
	color: #ffffff !important;
	font-weight: 100;
	padding: 5px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	margin-top: 10px;
}

.questionCreator:hover{
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}

select {
	display: block;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	padding: .4em 1em .4em .8em;
	width: 40%;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
		linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

select::-ms-expand {
	display: none;
}

select:hover {
	border-color: #888;
}

select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}

select option {
	font-weight:normal;
}

*[dir="rtl"] select, :root:lang(ar) select, :root:lang(iw) select {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

select:disabled, select[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
		linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

select:disabled:hover, select[aria-disabled=true] {
	border-color: #aaa;
}

