html,body{
  background-image: url(admin_background.jpg);
}

.logOutWrapper{
  float: left;
}

button:hover{
  cursor: pointer;
}

.logOut {
  padding: 8px 8px;
  cursor: pointer;
}

.logOut:hover {
  background-color: RoyalBlue;
}

.addingFormOpener{
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.addingFormOpener:hover{
  color: #3a7999;
}

.addNewExcercise{
  text-align: right;
  padding: 0px 12px;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.addNewExcercise:hover .tooltiptext {
  visibility: visible;
}

.popupForm {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.formContainer {
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

.formContainer input{
  width: 100%;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.formContainer input:focus{
  background-color: #ddd;
  outline: none;
}

.formContainer button {
  background-color: #4CAF50;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.formContainer .cancelBtn {
  background-color: red;
}

.formContainer .submitBtn:hover, .cancelBtn:hover {
  opacity: 1;
}

.pageContainer{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.selectorWrapper{
  width: -webkit-fill-available;
  max-width: 80%;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: rgba(33, 33, 33, 0.4) 0px 0px 15px;
  background: #a29bfe;
  margin-bottom: 5px;
}

.userInfoWrapper{
  margin-top: 15px;
  width: -webkit-fill-available;
  max-width: 45%;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: rgba(33, 33, 33, 0.4) 0px 0px 15px;
  background: #a29bfe;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropBtn {
  border: none;
  outline: none;
  color: #d63031;
  padding: 4px 6px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropBtn {
  background-color: #74b9ff;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent p {
  float: none;
  color: black;
  padding: 3px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
}

.dropdownContent p:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}

table{
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 5px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
}

td {
  color: #333;
  border-bottom: solid #636e72;
  border-width: thin;
  font-family: 'Source Sans Pro', sans-serif;
}

h3{
  font-family: 'MuseoModerno', cursive;
  margin-top:10px;
  margin-bottom: 15px;
}

.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.popupCloseButton:hover {
  background-color: #ccc;
}

.excerciseEditor, .excerciseRemoval{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  padding: 5px;
}

.excerciseEditor:hover, .excerciseRemoval:hover{
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.57);
  box-shadow: 5px  rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}