html,body{
  background: rgb(36,36,0);
  background: linear-gradient(to right, rgba(36,36,0,1) , rgba(177,56,158,1) , rgba(0,212,255,1) );
}

.logOutWrapper{
  float: left;
}

.logOut {
  padding: 8px 8px;
  cursor: pointer;
}

.logOut:hover {
  background-color: RoyalBlue;
}

.pageContainer{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.selectorWrapper{
  width: -webkit-fill-available;
  max-width: 80%;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: rgba(33, 33, 33, 0.2) 0px 0px 11px;
  background: #2ecc71;
  margin-bottom: 5px;
}
table{
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}

table.all-excercises {
  margin-bottom: 20px;
}

th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 5px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
}

td {
  color: #333;
  border-bottom: solid #636e72;
  border-width: thin;
  font-family: 'Source Sans Pro', sans-serif;
}

h3{
  font-family: 'MuseoModerno', cursive;
  margin-top:10px;
  margin-bottom: 15px;
}